@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-y: overlay;
}

.no-scroll {
	overflow-y: hidden;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.separator-one {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='100' preserveAspectRatio='none' viewBox='0 0 2000 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c51 C 80%2c43.4 240%2c5.8 400%2c13 C 560%2c20.2 640%2c80.6 800%2c87 C 960%2c93.4 1040%2c44.6 1200%2c45 C 1360%2c45.4 1440%2c96 1600%2c89 C 1760%2c82 1920%2c25.8 2000%2c10L2000 100L0 100z' fill='rgba(242%2c 242%2c 242%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='2000' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.separator-two {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='100' preserveAspectRatio='none' viewBox='0 0 2000 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3crect width='2000' height='100' x='0' y='0' fill='rgba(242%2c 242%2c 242%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c51 C 80%2c43.4 240%2c5.8 400%2c13 C 560%2c20.2 640%2c80.6 800%2c87 C 960%2c93.4 1040%2c44.6 1200%2c45 C 1360%2c45.4 1440%2c96 1600%2c89 C 1760%2c82 1920%2c25.8 2000%2c10L2000 100L0 100z' fill='rgba(229%2c 231%2c 235%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='2000' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.separator-three {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='100' preserveAspectRatio='none' viewBox='0 0 2000 100'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1040%26quot%3b)' fill='none'%3e%3crect width='2000' height='100' x='0' y='0' fill='rgba(229%2c 231%2c 235%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c51 C 80%2c43.4 240%2c5.8 400%2c13 C 560%2c20.2 640%2c80.6 800%2c87 C 960%2c93.4 1040%2c44.6 1200%2c45 C 1360%2c45.4 1440%2c96 1600%2c89 C 1760%2c82 1920%2c25.8 2000%2c10L2000 100L0 100z' fill='rgba(242%2c 242%2c 242%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1040'%3e%3crect width='2000' height='100' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
